{{ define "main" }}
  <div class="homepage">
    <h1>{{ .Title }}</h1>
    <div>{{ .Content }}</div>

    <h2>Recent Posts</h2>
    <ul>
      {{ range first 5 (where .Site.RegularPages "Type" "posts") }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
	<p><a href="/custom/dihedral3.html">Explore Dihedral Group Visualization</a></p>


    <h2>Tags</h2>
    <ul>
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
      {{ end }}
    </ul>
  </div>
{{ end }}
